[Desktop Entry]
Type=Application
Name=json-search
Exec=json-search
Comment=grep into like, and format print
Categories=Development;
Terminal=true
Icon=appimage-logo